<% if resource.errors.any? %>
  <div id="error_explanation" class="error" data-turbo-cache="false">
    <h2><%= "Champs obligatoire"%></h2>
    <p><%= "Vous devez renseigner tous les champs du formulaire avant de le valider" %></p>
  </div>
<% end %>
