<div class="inscription">
  <h1>Bienvenue</h1>
  <p>EazIA est votre générateur de contenus pour les réseaux sociaux par l’Intelligence Artificiel.
  Qui deleniti vitae sit molestiae quas et dolores doloremque sed internos maiores est ullam officia est tempora voluptas cum culpa eius. Eum harum cupiditate aut repellendus libero sit corporis quisquam qui esse repellat hic veniam repudiandae vel beatae eligendi.
  Lorem ipsum dolor sit amet. Sit voluptatem suscipit sit ratione explicabo et placeat dolorem id molestias assumenda At fugiat esse. Non esse incidunt ut aspernatur eligendi vel sequi error aut nostrum aliquid et deleniti autem ut illum ipsum et quod porro. 33 eius perferendis ut voluptatem deleniti aut perferendis ratione in doloremque nesciunt et internos sint? Ut distinctio temporibus et voluptatibus fugiat aut labore sapiente et veritatis repellat aut eveniet officia et omnis explicabo.

  Nous avons donc besoin de certaines informations vous concernant. </p>

  <div class="actions-continuer">
    <%= link_to"Continuer", new_user_registration_path, class:"btn-continuer"%>
  </div>
</div>
