<div class="pages">
<h1>Conditions Générales d'Utilisateurs</h1>
<div class="cgu">
<h4>1. Propriété intellectuelle : </h4>
<p>L'ensemble du contenu du site, incluant les textes, graphiques, logos, images, etc., est la propriété exclusive d'EazIA, sauf indication contraire. Toute reproduction, distribution, modification ou utilisation du contenu sans autorisation écrite est strictement interdite.</p><br>
<h4>2. Collecte de données personnelles :</h4>
<p>Les informations personnelles collectées sur ce site sont traitées conformément à notre politique de confidentialité, disponible  <%= link_to "ici", pages_confidentialite_path %>.</p><br>
<h4>3. Cookies :</h4>
<p>Ce site utilise des cookies pour améliorer l'expérience utilisateur. En continuant à naviguer sur le site, vous acceptez l'utilisation de cookies. Pour plus d'informations, veuillez consulter notre politique relative aux cookies  <%= link_to "ici", pages_confidentialite_path %>.</p><br>
<h4>4. Responsabilité :</h4>
<p>EazIA ne peut être tenue responsable des erreurs ou omissions présentes sur le site ni de l'utilisation qui pourrait en être faite par les utilisateurs.</p><br>
<h4>5. Droit applicable :</h4>
<p>Les <%= link_to " présentes mentions légales", pages_legal_path %> sont régies par le droit français. En cas de litige, les tribunaux compétents seront ceux de [votre juridiction].</p><br>
<h4>6. Modification des mentions légales : </h4>
<p>EazIA se réserve le droit de modifier les présentes mentions légales à tout moment. Une notification effective sera faite aux utilisateurs du site de toute modification.</p><br>
</div>
</div>
