<div class="pages">
<h1>Politique de confidentialité</h1>
<div class="confidentialite">
<h4>Dernière mise à jour : 22/12/2023</h4><br>
<p>La présente politique de confidentialité décrit la manière dont EazIA collecte, utilise et protège les informations personnelles des utilisateurs de sa plateforme. En utilisant les services d'EazIA, vous consentez à la collecte et à l'utilisation de vos informations conformément à cette politique ainsi que toute initiative en ligne appartenant à la société EazIA.</p><br>
<h4>1. Collecte d'Informations</h4>
<p>Nous collectons des informations personnelles lorsque vous les fournissez volontairement, par exemple lors de la demande de services, d'inscription à notre newsletter ou de remplissage de formulaires sur notre site. Les informations collectées peuvent inclure, sans s'y limiter, votre prénom, nom, adresse e-mail, numéro de téléphone, adresse postale, opinion sur les produits, informations de paiement, historique d’achats, photos ou vidéos, potentiels sondages ou avis.
Par ailleurs, il est impératif de noter que des informations relatives aux cookies peuvent également être collectées. Nous vous invitons à vous référer à la section dédiée aux cookies de notre politique de confidentialité, où ces informations sont détaillées.
La collecte de ces données s'inscrit dans le cadre d'une démarche transparente visant à informer nos utilisateurs sur la nature et l'étendue des informations personnelles collectées, ainsi que sur l'utilisation de cookies pour améliorer l'expérience utilisateur sur notre site.</p><br>
<h4>2. Utilisation des Informations Collectées</h4>
<p>Les informations personnelles que nous collectons sont utilisées dans le but de fournir nos services, de répondre à vos demandes, de personnaliser votre expérience, d'améliorer notre site et de communiquer avec vous. Nous pouvons également utiliser vos informations pour vous envoyer des informations promotionnelles ou des newsletters, sauf si vous choisissez de ne pas les recevoir et uniquement dans la limite nécessaire à l’accomplissement des tâches qui nous sont confiées.</p><br>
<h4>3. Protection des Informations</h4>
<p>La sécurité de vos informations personnelles est une priorité pour nous. Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos données contre tout accès non autorisé, divulgation, altération ou destruction.</p><br>
<h4>4. Partage d'Informations</h4>
<p>EazIA ne partage pas vos informations personnelles avec des tiers sans votre consentement, sauf si requis par la loi et uniquement pendant la durée nécessaire à la réalisation de la finalité poursuivie par le traitement.</p><br>
<h4>5. Cookies et Technologies Similaires</h4>
<p>Notre site utilise des cookies pour améliorer votre expérience en ligne. Vous pouvez configurer votre navigateur pour refuser les cookies, mais cela pourrait limiter certaines fonctionnalités du site.
Le cas échéant, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos services résultant de l’impossibilité pour nous d’enregistrer ou de consulter les Cookies nécessaires à leur fonctionnement et que vous auriez refusés ou supprimés.
En naviguant sur le Site, des cookies peuvent être déposés sur votre terminal.
Les cookies correspondent à de petits fichiers déposés temporairement sur le disque dur de l’ordinateur de l’utilisateur.</p><br>
<h5>Cookies nécessaires au bon fonctionnement du Site</h5>
<p>Lors des visites sur le Site, l’installation automatique d’un cookie sur le logiciel de navigation de l’utilisateur peut survenir. Ces cookies sont nécessaires pour assurer l’accessibilité et la navigation sur le site. Ces fichiers ne comportent pas d’informations personnelles et ne peuvent pas être utilisés pour l’identification d’une personne.
En naviguant sur le site, l’utilisateur accepte les cookies. Leur désactivation peut s’effectuer via les paramètres du logiciel de navigation.
La durée maximale de conservation de ces cookies est de 13 mois après leur premier dépôt dans votre terminal.
Les cookies que nous émettons sur notre site nous permettent : <br>
- D’établir des statistiques et volumes de fréquentation et d’utilisation des divers éléments composant notre Site (rubriques et contenus visités, parcours) nous permettant d’améliorer l’intérêt et l’ergonomie de nos services. <br>
- D’adapter la présentation de notre Site aux préférences d’affichage de votre terminal de mémoriser des informations relatives à un formulaire que vous avez rempli sur notre site (demande de contact, candidature) ou à des produits, services ou informations que vous avez choisis sur notre Site (inscription à la newsletter, etc.)</p><br>
<h5>Cookies supplémentaires et non essentiels</h5>
<p>Nous pouvons utiliser des cookies supplémentaires comportant des informations personnelles sur la base de votre consentement. En d’autres termes, leur utilisation est soumise à votre consentement exprès grâce à un bandeau cookie en page d’accueil.
Ces cookies supplémentaires que nous émettons nous permettent : <br>
- D’obtenir des statistiques de fréquentation anonymes du site internet et la localisation afin d’optimiser votre navigation, son ergonomie et son contenu. <br>
- D’identifier le trafic depuis les réseaux sociaux et de partager du contenu de notre site sur les réseaux sociaux. <br>
- En tout état de cause, les cookies déposés sur votre terminal de navigation avec votre accord sont détruits 13 mois après leur dépôt sur votre terminal. <br>
Ces cookies n’étant pas essentiels au fonctionnement du Site, vous pouvez donc décider de les désactiver via les paramètres de votre navigateur ou les refuser dans le bandeau qui apparaît à l’ouverture du Site.
Certains de ces cookies (Google Analytics…) peuvent héberger des Données en dehors de l’Union Européenne. Ils garantissent soit un niveau de protection de vos Données adéquat aux réglementations relative au RGPD ou fournissent des clauses contractuelles types de l’UE approuvées par la Commission européenne.</p><br>
<h4>6. Accès et Contrôle de Vos Informations</h4>
<p>Conformément à la loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant. Pour exercer ce droit, vous devez nous adresser une demande accompagnée d’une pièce d’identité à : anais.bremand@quartz-agency.fr.
Enfin, vous pouvez nous demander de supprimer toute donnée personnelle qui vous concerne et que nous détenons. Toutefois, veuillez noter que nous sommes susceptibles de conserver une trace de vos données à des fins d’archivage (en particulier lorsque la loi nous l’impose).
Vous pouvez également vous opposer à ce que vos données soient utilisées à des fins de prospection commerciale ou communiquées à des tiers à cette fin.</p><br>
<h4>7. Modifications de la Politique de Confidentialité</h4>
EazIA se réserve le droit de modifier cette politique de confidentialité à tout moment. Les utilisateurs seront informés de toute modification.</p><br>
<h4>8. Contact</h4>
<p>Pour toute question concernant cette politique de confidentialité, veuillez nous contacter à anais.bremand@quartz-agency.fr.</p><br>
<h4>9. Section sur le Fonctionnement de l'IA</h4>
<p><b>Fonctionnement de l'Intelligence Artificielle (IA) :</b> La présente section vise à fournir une compréhension claire du rôle et du fonctionnement de l'Intelligence Artificielle (IA) au sein de la plateforme EazIA. L'IA est intégrée dans le but spécifique de personnaliser les contenus générés, d'optimiser l'expérience utilisateur, et d'améliorer la pertinence des résultats fournis. <br>
<b>Personnalisation des Contenus :</b> L'IA est déployée pour analyser les préférences et les besoins des utilisateurs, permettant ainsi la génération de contenus adaptés à leurs spécificités individuelles. Cette personnalisation vise à fournir des résultats plus pertinents et en adéquation avec les attentes de chaque utilisateur. <br>
<b>Optimisation de l'Expérience Utilisateur :</b> L'IA opère également dans le dessein d'améliorer l'expérience globale de l'utilisateur sur la plateforme EazIA. En analysant les interactions et les retours des utilisateurs, elle contribue à affiner les fonctionnalités et à anticiper les besoins, garantissant ainsi une utilisation plus intuitive et efficace de la plateforme. <br>
<b>Amélioration Continue : </b> En collectant et en analysant les données générées par l'utilisation de l'IA, EazIA cherche constamment à optimiser ses algorithmes pour offrir des résultats de plus en plus précis et pertinents. Cette démarche contribue à garantir une évolution continue de la qualité des services proposés. <br>
Il est impératif de souligner que toutes les données traitées par l'IA sont soumises aux dispositions de notre politique de confidentialité, garantissant ainsi la protection et la confidentialité des informations personnelles des utilisateurs. Cette transparence vise à instaurer la confiance des utilisateurs dans le fonctionnement de l'IA au sein de la plateforme EazIA.
</p><br>

</div>
</div>
