<div class="page-inscription">
  <h1>Bienvenue</h1>
  <p>EazIA est une plateforme permettant aux entreprises de générer automatiquement du contenu pour les réseaux sociaux (Instagram, LinkedIn, Twitter, ...) que ce soit sous forme de texte ou image+ texte. EazIA s'adapte aux normes des réseaux sociaux sélectionnés pour rendre un contenu adapté.
  </p>

  <div class="actions-continuer">
    <%= link_to"Continuer", new_user_registration_path, class:"btn-continuer"%>
  </div>

</div>
