<div class="pages">
<h1>Mentions Légales</h1>
<div class="legales">
  <p>
  <b>Éditeur du site :</b> EazIA, une division de BREMAND SAS, 44 rue Alexis Bouvier, 92700 COLOMBES, Numéro de téléphone : 06 02 39 03 19<br>
  <b>Adresse e-mail : </b>anais.bremand@quartz-agency.fr<br>
  <b>Capital social :</b> 5 000,00 €<br>
  <b>Numéro d'immatriculation :</b> 2023B11569<br>
  <b>TVA intracommunautaire :</b> FR65980501852<br>
  <b>Directeur de la publication :</b> Anaïs BREMAND<br>
  <b>Responsable éditorial :</b> Anaïs BREMAND<br>
  <b>Hébergeur du site :</b> [Nom de l'hébergeur] Adresse de l'hébergeur : [Adresse de l'hébergeur] Numéro de téléphone de l'hébergeur : [Numéro de téléphone de l'hébergeur]</p>
</div>
</div>
