<div class="ellipse">

  <div class="orange">
    <div class="ellipse-orange"></div>
  </div>

  <div class="rose-bleue">
    <div class="ellipse-rose"></div>
    <div class="ellipse-bleue"></div>
  </div>

</div>
