<div class="gpt-creation">
<%= turbo_frame_tag gpt_creation do %>
    <%= gpt_creation.description if gpt_creation.description %>

  <div class="container-boutons">
    <%= link_to 'Modifier', edit_post_gpt_creation_path(gpt_creation.post), class: "secondary-bouton" %>

  </div>
<% end %>
</div>
