<%# "app/views/payments/_product.html.erb" %>

<%= link_to product_payments_checkout_path(product), class:"col-4" do %>
  <div>
    <h5 class="text-center">
      <%= product.name %>
    </h5>
    <h6 class="text-center">
      <%= product.price %> €
    </h6>

    <p>
      <%= product.description %>
    </p>
  </div>

  <% end %>
