<section class="text-center">
  <h1 class="my-5">
    Il semblerait que vous ayez eu un problème ?
  </h1>

  <p class="my-5">
    Contactez notre service client pour obtenir de l'aide.
    <%= mail_to "contact@eazia.fr", "Contacter le service client", class: "btn btn-primary" %>
  </p>

  <div class="text-center">
    <%= link_to "Revenir à l'accueil", new_post_path, class: "btn btn-primary" %>
  </div>
</section>
