<h3 class="text-center my-5">
  Nos packs de jetons
</h3>

<section class="row d-flex">
  <% @products.each do |product| %>
    <%= render "payments/product", product: product %>
  <% end %>
</section>

<h3 class="text-center my-5">
  Nos abonnements
</h3>

<section class="row">
    <% @subscriptions.each do |subscription| %>
      <%= render "payments/subscription", subscription: subscription %>
    <% end %>

</section>
