<h1>Payments#success</h1>
<p>Find me in app/views/payments/success.html.erb</p>
<section>
  <p>
    Merci d'avoir acheté
    <a href="mailto:orders@example.com">orders@example.com</a>.
  </p>
</section>
