<h1 class="text-center my-5">
  Admin Mode - Tableau de bord
</h1>

<section class="row">
  <div class="col-4 text-center">
    <%= link_to 'Les utilisateurs', admin_users_path, class: "btn btn-primary" %>
  </div>

  <div class="col-4 text-center">
    <%= link_to 'Les produits', admin_products_path, class: "btn btn-primary" %>
  </div>

  <div class="col-4 text-center">
    <%= link_to 'Les produits abonnements', admin_subscriptions_path, class: "btn btn-primary" %>
  </div>

</section>
