<%= form_with model: post, url: post_photos_path(post), method: :post, local: true do |form| %>
    <div class="actions">
      <%= form.submit "Générer une nouvelle photo"%>
    </div>
  </div>
<% end %>

<%# Pour générer une nouvelle photo à partir de la show directement %>
