<%= form_with model: post, url: post_photos_path(post), method: :post, local: true do |form| %>
  <%= form.submit "Générer une nouvelle photo"%>

  </div>
<% end %>

<%# Pour générer une nouvelle photo à partir de la show directement %>
