<div class="image-container" style="perspective: 1px;">

  <%= form_for([post, photo], url: select_post_photo_path(@post, photo), method: :patch) do |f| %>
    <%= image_submit_tag(cl_image_path(photo.key),
      loading: "lazy",
      id: "photo_#{i}",
      class: "photo_#{photo.id}",
      width: 200,
      style: photo.id.in?(post.photos_selected) ? "border: 4px solid green" : nil) %>
  <% end %>

  <%# Pour supprimer la photo %>
  <%= render 'photos/btn-delete-photo', post: @post, photo: photo %>
</div>


<%# Sélectionner ou désélectionner la photo avant de la publier %>
<%# il faut avoir un front qui indique visuellement si la photo est sélectionné ou pas %>
<%# ENLEVER LES STYLES POUR FAIRE DES CLASS %>
