<div class="image-container" >
    <div class="indice" >
      <%= form_for([post, photo], url: select_post_photo_path(post, photo), method: :patch) do |f| %>

    <%# INDICE de la place de la photo %>
    <%= photo.id.in?(post.photos_selected) ? post.photos_selected.index(photo.id)+1 : nil %>
    </div>

    <%= image_submit_tag(cl_image_path(photo.key),
      loading: "lazy",
      id: "photo_#{photo.id}",
      class: "photo_#{photo.id}",
      width: 150) %>
  <% end %>

  <%# Pour supprimer la photo %>
  <%= render 'photos/btn-delete-photo', post: @post, photo: photo %>
</div>


<%# Sélectionner ou désélectionner la photo avant de la publier %>
<%# il faut avoir un front qui indique visuellement si la photo est sélectionné ou pas %>
<%# ENLEVER LES STYLES POUR FAIRE DES CLASS %>
