 <div id="user-info"></div>


<button onclick="checkLoginState();">Connexion avec Facebook</button>

    <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : "<%= ENV['FB_APP_ID'] %>",
              cookie     : true,
              xfbml      : true,
              version    : 'v19.0'
            });

            FB.AppEvents.logPageView();

            FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
            });

          };

          function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // Si l'utilisateur est déjà connecté.
            if (response.status === 'connected') {
              fetchUserInfo();
            }
          }

            function fetchUserInfo() {
              FB.api('/me', {fields: 'name'}, function(response) {
                console.log('Successful login for: ' + response.name);
                var userInfo = 'Nom: ' + response.name + '<br>';
                userInfo += 'Token d\'accès: ' + FB.getAuthResponse().accessToken;
                document.getElementById('user-info').innerHTML = userInfo;
              });
            }

        function checkLoginState() {
          FB.login(function(response) {
            statusChangeCallback(response);
          }, {scope: 'email,public_profile'}); // Ajoute d'autres permissions au besoin
        }


          (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/fr_FR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
    </script>
