<div class="modal-info fade " id="modalAccountId" data-modal-account-target="info" data-modal-name="info" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog-custom-infos" role="document">
    <div class="modal-content-info">
      <p>Pour optimiser votre post, donnez un maximum de détails. Pas la peine de commencer par "génère moi un post Instagram". Exemple : "Balade à vélo en famille dans les Calanques de Marseille au soleil."</p>
    </div>
  </div>
</div>

<div class="modal-info-photo fade" id="modalAccountId" data-modal-account-target="photo" data-modal-name="photo" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog-custom-infos" role="document">
    <div class="modal-content-info">
      <p>Si vous avez des images de vos produits, téléchargez-les pour qu'elles apparaissent dans le carrousel Instagram. Vos photos n'impacteront pas celles générées par l'IA. Il n'est pas nécessaire d'ajouter des images si vous n'en avez pas. </p>
    </div>
  </div>
</div>

<div class="modal-info-ia fade" id="modalAccountId" data-modal-account-target="ia" data-modal-name="ia" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog-custom-infos-ia" role="document">
    <div class="modal-content-info">
      <p>Choisissez le nombre d'images à générer par l'IA. Celles-ci seront libres de droit et uniques. Profitez-en ! </p>
    </div>
  </div>
</div>




<div class="modal-info-responsive" id="info-modal" data-modal-account-target="info-responsive" data-modal-name="info" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog-custom-infos" role="document">
    <div class="modal-content-info">
      <p>Pour optimiser votre post, donnez un maximum de détails. Pas la peine de commencer par "génère moi un post Instagram". Exemple : "Balade à vélo en famille dans les Calanques de Marseille au soleil."</p>
      <%# <button type="button" data-action="click->modal#close" class="close-button">Fermer</button> %>
    </div>
  </div>
</div>

<div class="modal-info-photo-responsive" id="photo-modal" data-modal-account-target="photo-responsive" data-modal-name="photo" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog-custom-infos" role="document">
    <div class="modal-content-info">
      <p>Si vous avez des images de vos produits, téléchargez-les pour qu'elles apparaissent dans le carrousel Instagram. Vos photos n'impacteront pas celles générées par l'IA. Il n'est pas nécessaire d'ajouter des images si vous n'en avez pas. </p>
    </div>
  </div>
</div>

<div class="modal-info-ia-responsive fade" id="ia-modal" data-modal-account-target="ia-responsive" data-modal-name="ia" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog-custom-infos-ia" role="document">
    <div class="modal-content-info">
      <p>Choisissez le nombre d'images à générer par l'IA. Celles-ci seront libres de droit et uniques. Profitez-en ! </p>
    </div>
  </div>
</div>
