<div class="btn-show">
  <div class="btn-annexe">
    <%= link_to "Sauvegarder  💾", drafts_path, class:"button-annexe"%>
    <%= link_to "Programmer  📅", new_post_path,  class:"button-annexe"%>
  </div>

  <div class="btn-publier">
    <%= form_for(post, url: publish_post_path(post), method: :patch) do |f| %>
      <%= f.submit "Publier", class: "button-instagram-show" %>
    <% end %>
  </div>
</div>
