<div class="btn-show">
  <div class="btn-annexe">
    <%= link_to "Sauvegarder  💾", drafts_path, class:"button-annexe"%>
    <%= link_to "Programmer  📅", new_post_path,  class:"button-annexe"%>
  </div>

  <div class="btn-publier">
    <%= link_to "Publier", publish_post_path(post), method: :patch, class:"button-instagram-show" %>
  </div>
</div>
