<div class="draft" data-controller="post-options">
  <% if @posts.any? %>
  <div class="titre-brouillon">
    <h1>Brouillons</h1>
    <div class="main-bouton"><%= link_to "Générer un post", new_post_path  %></div>
  </div>

  <%= render "posts/brouillons", post: @post %>

<% else %>
    <div class="no-posts">
      <p>Aucun brouillon n'est disponible pour le moment.</p>
      <div class="main-bouton"><%= link_to "Créer un nouveau post", new_post_path, class: "btn btn-primary" %></div>
    </div>
<% end %>

</div>








<%# <div class="btn">
  <label class="btn-draft-post" for="toggle-submenu">
    <input type="checkbox" id="toggle-submenu" class="menu-toggle" />
    <!-- Mettez votre lien ou autre contenu ici -->
    <span>...</span>
  <div class='sub-menus'>
    <a href="#">Modifier</a>
    <a href="#">Supprimer</a>
  </div>
  </label>
</div> %>
