<div class="contenu" >
  <div class="frame_post" >
    <div class="div_post" >
      <div class="text-wrapper-post">Générer votre post</div>
      <p class="votre-communication">Votre communication enfin automatisée par l&#39;IA</p>
    </div>

    <%= render "posts/modal_facebook", post: @post %>

    <%= render "posts/form_new", post: @post %>
  </div>

  <%= render "posts/chargement", post: @post %>
</div>
