<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<p><%= @post.prompt %></p>

<p><%= @post.description %></p>

<p><%= @description if @description %></p>

<p>
  <% if @images %>
    <% @images.each do |img| %>
      <%= cl_image_tag img.key, width: 240, height: 240 %>
    <% end %>
  <% end %>
</p>
