<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<p><%= @post.prompt %></p>

<p><%= @post.description %></p>

<p><%= @post.gpt_creation.description if @post.gpt_creation.description%></p>

<p>
  url: <%= @post.dalle3_images[0].link if @post.dalle3_images[0].link %>
</p>
