.btn-creation{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  box-shadow: 4px 4px 8px 0px #A5F3AD;
  border: none;
  background:transparent;
  background-color: transparent;
  border-radius:4px;
  cursor:pointer;
  color:#BDDDFA;
  font-size:12px;
  font-weight: bold;
  padding:8px 32px;
  margin-bottom: 3%;
  text-decoration:none;
  text-shadow:0px 0px 0px #f5f5f7;
  min-width:160px;
}

.btn-creation:hover{
  color:grey;
  transform: scale(1.1);
}

.btn-valider{
  width: 40%;
  height: 50px;
  margin: 1%;
  background: #dcffff;
  border-radius: 15px;
  border: none;
  border-bottom:5px solid #9f2dbe;
  font-size: 18px;
  font-weight: bold;
  color: #007ff5;

  &:hover {
    color: white;
    background-color:#a73cc2;
    border-bottom:5px solid #dcffff;
  }

}

@media (max-width: 768px) {
  .btn-valider {
    font-size: 14px;
    padding: 1.5%;
    height: 30%;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .btn-valider {
    font-size: 14px;
    padding: 2%;
    border-radius: 10px;
  }
}



.button-annexe, .button-cancel{
  border: none;
  box-shadow: 4px 4px 8px 0px #007ff5 ;
  background:transparent;
  background-color: transparent;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  color:black;
  font-size:12px;
  font-weight: bold;
  padding:8px 32px;
  margin-bottom: 10px;
  text-decoration:none;
  text-align: center;
  width: 45%;

  @at-root .button-cancel{
    box-shadow: 4px 4px 8px 0px #a73cc2;
  }
}

.button-modifier, .button-recreer{
  border: none;
  box-shadow: 4px 4px 8px 0px #007ff5;
  background:transparent;
  background-color: transparent;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  color:#2c2c2c;
  font-size:12px;
  font-weight: bold;
  padding:8px 32px;
  margin-bottom: 10px;
  margin-left: 40%;
  text-decoration:none;
  text-align: center;
  text-shadow:0px 0px 0px #f5f5f7;
  width: 20%;

  @at-root .button-recreer{
    width: 100%;
    margin-left: 0;
  }
}

.button-annexe:hover{
  color:#007ff5;
  transform: scale(1.1);
}

.button-instagram-show {
  // background: #007ff5;
  border: 1px solid white;
  // font-family: 'brasika-display';
  background: radial-gradient(ellipse at top left, #6b1e80 30%, #9f2dbe 50%, #a73cc2 100%);  // background-color:#5851db;
  color:  white ;
  // border-radius:5%;
  display:inline-block;
  cursor:pointer;
  font-size:16px;
  font-weight: bold;
  padding:8px 24px;
  text-decoration:none;
  width: 50%;
  text-align: center;

}

.button-instagram-show:hover {
  background: radial-gradient(ellipse at bottom right, #6b1e80 30%, #9f2dbe 50%, #a73cc2 100%);
  color: #007ff5 ;
  transform: scale(1.1);
  }

.logout-button {
  position: relative;
  margin: 0;
  background-color: white;
  color: black;
  font-weight: lighter;
  border: 3px solid white;
  // border-radius: 15%;
  margin-bottom: 10%;
  cursor: pointer;

}

.logout-button:hover {
  color: #007ff5 ;
}

.button-annexe-draft{
  border: none;
  box-shadow: 4px 4px 8px 0px #007ff5;
  background:transparent;
  background-color: transparent;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  color:#2c2c2c;
  font-size:12px;
  font-weight: bold;
  padding:8px 32px;
  margin-bottom: 10px;
  text-decoration:none;
  width: 40%;
  text-align: center;
}

.button-annexe-draft:hover{
  color:grey;
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .logout-button {
    position: relative;
    font-size: 14px;
    padding: 0;
    width: 70%;
  }
}


@media (max-width: 768px) {
  .logout-button {
    position: relative;
    font-size: 16px;
    padding: 0;
    height: 50%;
    width: 40%;
  }
}

@media (max-width: 480px) {
  .logout-button {
    position: relative;
    font-size: 16px;
    padding: 0;
    border-radius: 10px;
  }
}
