.card-indicator {
  width: 10px !important;
  height: 10px !important;
  pointer-events: none;
  color: black;
}

// .custom{
//   max-width: 400px;
//   max-height: 400px;
// }

// .custom-annexe {
//   height: 300px;
// }

// .carousel-item{
//   height: 32rem;
//   background: #777
// }
