.form-connect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  h1{
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1.5s steps(7) 0s forwards, blink 0.25s step-end ;
  }

  h3{
  font-family: 'glacial-indifference' ;
  font-weight: lighter;
  margin: 2%;
  text-align: center;
  font-size:20px;
  color: #9f2dbe;
  font-weight: bold;
  }

  a{
    color: #9f2dbe;
    font-weight: bold;
    text-decoration: none;
    font-family: 'glacial-indifference' ;

  }

  a:hover{
    color:#007ff5;
  }


}


@keyframes typing {
from { width: 0; }
to { width: 7ch; }
}

.form-connexion{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.new_user{
  width: 50%
}


.field {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  font-family: 'glacial-indifference' ;

  input{
    width: 90%;
    height: 25px;
    border: none;
    border-bottom: 2px solid  #f5f5f5 ;
    margin-bottom: 1%;
    font-family: 'glacial-indifference' ;
  }

  input:focus {
    border-color: #BDDDFA;
    outline: none;
  }

  @media (max-width: 768px) {
    width: 90%;
  }

  @media (max-width: 480px) {
    width: 80%;
  }

}

.field-2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'glacial-indifference' ;

  @media (max-width: 768px) {
    width: 80%;
  }

  @media (max-width: 480px) {
    width: 80%;
  }
}

// .field-checkbox {
//   display: flex;
//   align-items: center;
// }

.field:last-child {
  margin-right: 0;
}

.actions{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    width: 60%;
  }

  @media (max-width: 480px) {
    width: 80%;
  }
}

.btn-connexion, .btn-mdp {
  width: 70%;
  height: 30%;
  padding: 1%;
  margin: 1%;
  background-color: black;
  border-radius: 15px;
  border: 1px solid ;
  font-size: 18px;
  font-weight: bold;
  color: white;

  @at-root .btn-mdp {
    height: 30%;
    width: 100%;
    font-size: 14px;

  }

  @media (max-width: 768px) {
    font-size: 16px;
    width: 100%;
  }

  @media (max-width: 480px) {
    font-size: 14px;
    width: 100%;
  }
}
