.draft{
  display: flex;
  flex-direction: column;
  flex: 1;
  background: linear-gradient(to bottom, rgba(253, 151, 44, 0.4) 0%, rgba(255, 255, 255, 0.8) 100%);

}

.brouillons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  margin-bottom: 2%
}

.insta-show-draft {
  max-width: 300px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
}

.btn-draft{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 2%;
}

.insta-draft-description{
  font-size: 12px;
  text-align: justify;
}

@media (max-width: 1230px){
  .brouillons{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px){
  .brouillons{
    display: flex;
    flex-direction: column;
  }

  .btn-draft{
    display: flex;
    flex-direction: column;
    width: 40%;
  }
}

@media (max-width: 480px){
  .brouillons{
    display: flex;
    flex-direction: column;
  }

  .btn-draft{
    display: flex;
    flex-direction: column;
    width: 40%;
  }
}
