.draft{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.brouillons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  // display: flex;
  // flex-direction: column;
  // margin-left:auto;
  // margin-right:auto;
  width: 100%;
  margin-bottom: 2%
}

.insta-show-draft {
  max-width: 350px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  // box-shadow: 0 0 20px darkgray;
}

.btn-draft{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 2%;
}

.insta-draft-description{
  font-size: 12px;
}
