.inscription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p{
    text-align: justify;
    width: 80%;
  }
}
.form-inscription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;


  h1{
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1.5s steps(7) 0s forwards, blink 0.25s step-end ;
  }

  h3{
  font-family: 'glacial-indifference' ;
  font-weight: lighter;
  margin: 1%;
  text-align: center;
  font-size: 24px;
  color: #FDAEEE;
  font-weight: bold;
  }

  a{
    color: #FDAEEE;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover{
    color:#A5F3AD;
  }

  p{
    margin-bottom: 0;
  }
}


@keyframes typing {
  from { width: 0; }
  to { width: 7ch; }
  }

.form{
  width: 80%;
}

.form-column {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
  }

}

.form-colum:last-child{
  margin-bottom: 0;
}

.actions-inscription, .actions-continuer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  width: 100%;

  @at-root .actions-continuer{
    width: 20%;
    margin-top: 1%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }

}

.field-inscription {
  flex: 1;
  margin-right: 2%;
  margin-bottom: 5%;

  input{
    width: 100%;
    border: 1px solid grey;
    height: 25px;


    @media (max-width: 768px) {
      width: 100%;
    }
  }

  // input:invalid{
  //   background-color: red;

  // }
  textarea{
    border: 1px solid grey;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    width: 80%;
  }
}


.btn-inscription, .btn-continuer{
  width: 20%;
  height: 50px;
  margin: 1%;
  background-color: black;
  border-radius: 15px;
  border: 1px solid ;
  font-size: 18px;
  font-weight: bold;
  color: white;

  @at-root .btn-continuer{
    width: 100%;
    text-align: center;
    line-height: 50px;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 2%;
  }
}


.activite{
  width: 100%;

  @media (max-width: 768px) {
    width: 90%;
    margin: 0
  }

}

.error{

  h2{
    font-family: "brasika-display-trial";
    color: red;
  }

  p{
  text-align: center;
  color: red;
  font-size: 16px;
  font-family: 'glacial-indifference' ;
  }
}
