.pages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  gap: 24px
}

.legales, .cgv, .cgu, .confidentialite {

  width: 80%;
  background: linear-gradient( to bottom, rgba(35, 61, 255, 0.8) 0%, rgba(225, 122, 255, 0.2)50%,  rgba(255, 255, 255, 0.8) 100%);
  box-shadow: 0 3px 3px;
  margin: 2%;
  padding: 2%;
  border-radius: 5px;
  font-family: 'glacial-indifference' ;
  font-size: 18px;
  line-height: 2;

  h4{
    font-family: 'glacial-indifference' ;
    font-size: 22px;
    font-weight: bold;
  }

  h5{
    font-family: 'glacial-indifference' ;
    font-size: 20px;
    font-weight: bold;
  }
}

.contact{
  width: 40%;
  background-color: rgba(220, 255, 255, 0.5);
  box-shadow: 0 3px 3px;
  margin: 2%;
  padding: 1%;
  border-radius: 5px;
  font-family: 'glacial-indifference' ;
  font-size: 18px;
  line-height: 2;
}

.rs{
  width: 40%;
  background-color: rgba(220, 255, 255, 0.5);
  box-shadow: 0 3px 3px;
  margin: 2%;
  padding: 1%;
  border-radius: 5px;
  font-family: 'glacial-indifference' ;
  font-size: 18px;
  line-height: 2;

  img {
    height: 40px
  }

}

.titre-compte{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px 28px;
  position: relative;
  background: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #dfdfea;

  h1{
  position: relative;
  width: 100%;
  font-family: var(--titre-medium-h4-font-family);
  font-weight: var(--titre-medium-h4-font-weight);
  color: #3e393b;
  font-size: var(--titre-medium-h4-font-size);
  letter-spacing: var(--titre-medium-h4-letter-spacing);
  line-height: var(--titre-medium-h4-line-height);
  white-space: nowrap;
  font-style: var(--titre-medium-h4-font-style);
  }
}

.titre-compte .main-bouton{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-top: 1px solid #ffffff42;
  border-bottom: 1px solid #ffffff42;
  border-right: 1px solid rgb(255, 0, 244.8);
  border-left: 1px solid rgba(29, 148, 255, 0.5);
  background: linear-gradient(180deg, rgb(28.77, 147.84, 255) 0%, rgb(255, 0, 244.8) 100%);
  width: fit-content;
  margin-top: -1px;
  font-family: var(--titre-medium-h4-font-family);
  font-weight: var(--titre-medium-h4-font-weight);
  color: #ffffff;
  font-size: var(--titre-medium-h4-font-size);
  letter-spacing: var(--titre-medium-h4-letter-spacing);
  line-height: var(--titre-medium-h4-line-height);
  white-space: nowrap;
  font-style: var(--titre-medium-h4-font-style);

}

.account{
  width: 80%;
  background-color: #ffffff99;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background-color: #ffffff99;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--secondarywhitewhite-400);


  h3{
    font-family: var(--titre-regular-h4-font-family);
    font-weight: var(--titre-regular-h4-font-weight);
    color: #000000;
    font-size: var(--titre-regular-h4-font-size);
    letter-spacing: var(--titre-regular-h4-letter-spacing);
    line-height: var(--titre-regular-h4-line-height);
    white-space: nowrap;
    font-style: var(--titre-regular-h4-font-style);
  }

}



.account-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  width: 100%;
}

.account-body{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width:100%;
  padding: 0 24px 24px;
  position: relative;
  overflow: hidden;
}

.account-column{
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;

  p{
  display: flex;
  width: 50%;
  align-items: center;
  padding: 12px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--secondaryblackblack-50);
  font-family: var(--titre-regular-h4-font-family);
  font-weight: var(--titre-regular-h4-font-weight);
  color: var(--secondaryblackblack-300);
  font-size: var(--titre-regular-h4-font-size);
  letter-spacing: var(--titre-regular-h4-letter-spacing);
  line-height: var(--titre-regular-h4-line-height);
  white-space: nowrap;
  font-style: var(--titre-regular-h4-font-style);
  }

  a{
    display: flex;
    justify-content: flex-end;
  }
}


.modal-dialog-custom-account {
  display: flex;
  align-items: center; /* Centrage vertical */
  justify-content: center; /* Centrage horizontal pour des cas spécifiques */
  // min-height: calc(100% - 50%); /* Calcule la hauteur pour centrer verticalement, ajustez les marges selon besoin */
}

.modal {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 24px;
  // position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #ffffff;
}

.overlay {
  position: fixed; /* Positionnement fixe pour couvrir toute la page */
  top: 0;
  left: 0;
  width: 100%; /* Largeur : 100% de la fenêtre */
  height: 100vh; /* Hauteur : 100% de la fenêtre */
  background-color: rgba(0,0,0,0.5); /* Couleur de fond semi-transparente */
  z-index: 1040; /* S'assurer qu'il est derrière le modal mais au-dessus du reste */
  display: none; /* Caché par défaut */
}

.modal .modal-content {
  background: var(--secondarywhitewhite-50);
  border-radius: 10px;
  font-family: var(--petit-texte-medium-h1-font-family);
  width: 100%;
  padding:24px

}

.modal-title-account{
 font-family: "Helvetica Neue-Medium", Helvetica;
font-weight: 500;
color: #1f1f1f;
font-size: 24px;
text-align: center;
letter-spacing: 0;
line-height: normal;

}

.modal-body-account{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;

  form{
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   gap: 16px;
   padding: 24px;

  }

}

.modal-field-update{
  width: 100%;
height: 10vh;
gap: 16px;

  input{
    display: flex;
    align-items: center;
    padding: 12px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--secondaryblackblack-50);
    width: 100%;
  background-color: transparent;
  color: #2c2c2c;

  input:focus {
    border-color: #007ff5 ;
    outline: none;
    }
  }
}




.actions-compte{
  align-items: center;
  justify-content: center;
  gap: 16px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;

  button{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 12px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid;
    border-color: #0000004c;
    width: fit-content;
    margin-top: -1px;
    font-family: "Helvetica Neue-Medium", Helvetica;
    font-weight: 500;
    color: #656565;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
}


.btn-primary {
  display: flex;
  width: 126px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: var(--secondarywhitewhite-200);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--secondarywhitewhite-300);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--titre-medium-h5-font-family);
  font-weight: var(--titre-medium-h5-font-weight);
  color: var(--secondaryblackblack-300);
  font-size: var(--titre-medium-h5-font-size);
  letter-spacing: var(--titre-medium-h5-letter-spacing);
  line-height: var(--titre-medium-h5-line-height);
  white-space: nowrap;
  font-style: var(--titre-medium-h5-font-style);
}

.btn-primary:hover{
  background-color: blue;
  color: white
}

.close {
  color: black;
  opacity: 1;
  border: 1px solid black
}

.modal-dialog {
  max-width: 800px;
}

@media (max-width :768px){
  .account{
    width: 90%;

    h3{
      font-size: 20px;
      font-weight: bold;
    }

    p{
      font-size: 18px;
    }
  }

  .contact, .rs{
    width: 90%
  }

  .rs img {
    height: 30px
  }

  .legales, .cgv, .cgu, .confidentialite {
    width: 90%;

    h4{
      font-size: 20px;
    }

    p{
      font-size: 14px;
    }
  }

}


@media (max-width :480px){
  .account{
    width: 90%;

    h3{
      font-size: 18px;
      font-weight: bold;
    }

    p{
      font-size: 16px;
    }
  }

  .contact, .rs{
    width: 90%
  }

  .rs img {
    height: 20px
  }

  .legales, .cgv, .cgu, .confidentialite {
    width: 90%;

    h4{
      font-size: 18px;
    }

    p{
      font-size: 14px;
    }
  }

}
