.contenu {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

@media (max-width: 768px){
  .contenu{
    display: inline-flex;
    width: 100%;
    padding: 12px
  }
}

.contenu .frame_post {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

}

@media (max-width: 768px){
  .contenu .frame_post{
    gap: 20px;
    width: 100%;
  }
}

.contenu .div_post {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px){
  .contenu .div_post{
    gap: 4px;

  }
}

.contenu .text-wrapper-post {
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--secondaryblackblack-500);
  font-size: 46px;
  line-height: 52px;
}

@media (max-width: 768px){
  .contenu .text-wrapper-post{
    font-size: 23px;
   line-height: 28px;
  }
}

.contenu .votre-communication {
  font-family: var(--titre-regular-h4-font-family);
  font-weight: var(--titre-regular-h4-font-weight);
  color: var(--secondaryblackblack-300);
  font-size: var(--titre-regular-h4-font-size);
  letter-spacing: var(--titre-regular-h4-letter-spacing);
  line-height: var(--titre-regular-h4-line-height);
  font-style: var(--titre-regular-h4-font-style);
}

@media (max-width: 768px){
  .contenu .votre-communication{
    font-family: var(--petit-texte-regular-h1-font-family);
    font-weight: var(--petit-texte-regular-h1-font-weight);
    font-size: var(--petit-texte-regular-h1-font-size);
    text-align: center;
    letter-spacing: var(--petit-texte-regular-h1-letter-spacing);
    line-height: var(--petit-texte-regular-h1-line-height);
    white-space: nowrap;
    font-style: var(--petit-texte-regular-h1-font-style);
  }
}

.contenu .gnrateur {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap:24px;
  padding: 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff99;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--secondarywhitewhite-400);
  backdrop-filter: blur(20px) brightness(100%);

  textarea{
    position: relative;
    width: 100%;
    height: 60px;
    border: 0;
    resize: none;
    background-color: transparent;
  }

  textarea:focus {
    border-color: #007ff5;
    outline: none;
  }
}

@media (max-width: 768px){
  .contenu .gnrateur{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    padding: 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff99;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--secondarywhitewhite-400);
    backdrop-filter: blur(20px) brightness(100%);
    -webkit-backdrop-filter: blur(20px) brightness(100%);

    form{
      width: 100%
    }

    textarea{
      position: relative;
      width: 100%;
      height: 60px;
      border: 0;
      resize: none;
      font-size: var(--petit-texte-regular-h1-font-size);
    }

  }
}

.file-upload-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 12px;
  position: relative;
  background-color: var(--secondarywhitewhite-200);
  border-radius: 4px;
  overflow: hidden;
  border: 1px dashed;
  border-color: var(--secondarywhitewhite-400);
  position: relative;
  margin-top: -1px;
  font-family: var(--titre-medium-h5-font-family);
  font-weight: var(--titre-medium-h5-font-weight);
  color: var(--secondaryblackblack-300);
  font-size: var(--titre-medium-h5-font-size);
  letter-spacing: var(--titre-medium-h5-letter-spacing);
  line-height: var(--titre-medium-h5-line-height);
  font-style: var(--titre-medium-h5-font-style);

}

@media (max-width: 768px){
  .file-upload-wrapper{
  width: 50%;
  }
}
.generateur-images{
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  position: relative;
  background-color: var(--secondarywhitewhite-200);
  border-radius: 4px;
  overflow: hidden;
  border: 1px dashed;
  border-color: var(--secondarywhitewhite-400);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--titre-medium-h5-font-family);
  font-weight: var(--titre-medium-h5-font-weight);
  color: var(--secondaryblackblack-300);
  font-size: var(--titre-medium-h5-font-size);
  letter-spacing: var(--titre-medium-h5-letter-spacing);
  line-height: var(--titre-medium-h5-line-height);
  white-space: nowrap;
  font-style: var(--titre-medium-h5-font-style);

  select{
  border: 0;
  background-color: var(--secondarywhitewhite-200);
  font-family: var(--titre-medium-h5-font-family);
  font-weight: var(--titre-medium-h5-font-weight);
  color: var(--secondaryblackblack-300);
  font-size: var(--titre-medium-h5-font-size);
  letter-spacing: var(--titre-medium-h5-letter-spacing);
  line-height: var(--titre-medium-h5-line-height);
  white-space: nowrap;
  font-style: var(--titre-medium-h5-font-style);
  }

  select:focus{
    border-color: transparent;

  }

  @media (max-width: 768px){
    .generateur-images{
    width: 50%;
    }
  }
}

.file-upload-wrapper input[type="file"] {
  display: none;
}


.contenu .p {
position: absolute;
width: 752px;
top: -1px;
left: 0;
font-family: var(--titre-medium-h3-font-family);
font-weight: var(--titre-medium-h3-font-weight);
color: var(--secondaryblackblack-200);
font-size: var(--titre-medium-h3-font-size);
letter-spacing: var(--titre-medium-h3-letter-spacing);
line-height: var(--titre-medium-h3-line-height);
font-style: var(--titre-medium-h3-font-style);
}

.contenu .secondary-bouton {
display: inline-flex;
align-items: center;
gap: 8px;
padding: 12px;
position: relative;
flex: 0 0 auto;
background-color: var(--secondarywhitewhite-200);
border-radius: 4px;
overflow: hidden;
border: 1px dashed;
border-color: var(--secondarywhitewhite-400);

input{
position: relative;
width: 122px;
margin-top: -1px;
font-family: var(--titre-medium-h5-font-family);
font-weight: var(--titre-medium-h5-font-weight);
color: var(--secondaryblackblack-300);
font-size: var(--titre-medium-h5-font-size);
letter-spacing: var(--titre-medium-h5-letter-spacing);
line-height: var(--titre-medium-h5-line-height);
font-style: var(--titre-medium-h5-font-style);
}
}

.contenu .text-wrapper-2 {
position: relative;
width: 122px;
margin-top: -1px;
font-family: var(--titre-medium-h5-font-family);
font-weight: var(--titre-medium-h5-font-weight);
color: var(--secondaryblackblack-300);
font-size: var(--titre-medium-h5-font-size);
letter-spacing: var(--titre-medium-h5-letter-spacing);
line-height: var(--titre-medium-h5-line-height);
font-style: var(--titre-medium-h5-font-style);
}


.style-select {
display: none;
}

.contenu .img {
position: relative;
width: 12px;
height: 12px;
}

.contenu .main-bouton {
display: inline-flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 12px 48px;
position: relative;
flex: 0 0 auto;
margin-left: 160px;
border-radius: 4px;
overflow: hidden;
border: 0;
background: linear-gradient(120deg, #233DFF, #E17AFF );
position: relative;
width: fit-content;
margin-top: -1px;
font-family: var(--titre-medium-h5-font-family);
font-weight: var(--titre-medium-h5-font-weight);
color: #ffffff;
font-size: var(--titre-medium-h5-font-size);
letter-spacing: var(--titre-medium-h5-letter-spacing);
line-height: var(--titre-medium-h5-line-height);
white-space: nowrap;
font-style: var(--titre-medium-h5-font-style);
}

@media (max-width: 768px){
  .contenu .main-bouton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    width: 100%;
    padding: 12px;
    background: linear-gradient(120deg, #233DFF, #E17AFF );
  }
  }


.contenu .main-bouton:hover {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 48px;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  overflow: hidden;
  background: linear-gradient(120deg, #233DFF, #E17AFF );
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--titre-medium-h4-font-family);
  font-weight: var(--titre-medium-h4-font-weight);
  color: #ffffff;
  font-size: var(--titre-medium-h4-font-size);
  letter-spacing: var(--titre-medium-h4-letter-spacing);
  line-height: var(--titre-medium-h4-line-height);
  white-space: nowrap;
  font-style: var(--titre-medium-h4-font-style);
}

@media (max-width: 768px){
  .contenu .main-bouton:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    width: 100%;
    padding: 12px;
    background: linear-gradient(120deg, #233DFF, #E17AFF );
  }
  }

.footer-form{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 768px){
  .footer-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  gap: 8px
}
}

.form-secondary-bouton{
  display: flex;
  flex-direction: row;
  gap: 8px
}

@media (max-width: 768px){
  .form-secondary-bouton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}
