.btn-valider{
  width: 100%;
  height: 30%;
  padding: 1%;
  margin: 1%;
  background-color: #FDAEEE;
  border-radius: 15px;
  border: 1px solid #BDDDFA;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
