// .show{
//   display:flex;
//   justify-content: space-around;
//   flex: 1;
//   margin-top: 1%;
//   z-index: 501;
// }

// .creation{
//   display: flex;
//   flex-direction: column;
//   width: 50%;
//   margin-left: 2%
// }

// .creation-images {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;

//   img{
//     width: 200px;
//     height: 200px;
//     margin: 1%
//   }
// }

// .creation-images > div {
//   flex: 0 0 33.333%;
//   max-width: 33.333%;
// }


// .prompt-insta{
//   font-family: 'glacial-indifference';
//   font-size: 18px;
//   font-weight: bold;
//   text-align: center;
// }

// .description{
//   font-family: 'glacial-indifference';
//   font-size: 14px;
//   font-weight: lighter;
//   text-align: justify;
//   margin: 2%
// }

// .modifier{
//   display: flex;
//   justify-content: center;
// }

// .gpt{
//   display: flex;
//   flex-direction: column;

//   textarea{
//   width: 100%;
//   font-size: 14px;
//   font-family: 'glacial-indifference';
//   z-index: 11 ;
//   }
// }


// .recreer{
//   display: flex;
//   justify-content: center;
//   width: 100%;
// }

// .view-insta{
//   display: flex;
//   flex-direction: column;
//   margin-left: auto;
//   margin-right: auto;

//   h4{
//     font-family: 'glacial-indifference';
//     font-size: 20px;
//     font-weight: bold;
//     text-align: center;
//     margin-bottom: 5%;
//   }
// }


// .interactionbtns {
//   padding: 8px 0px;
//   border-bottom: 1px solid #e6e6e6;
//   margin: 0 10px 0 10px;
//   display: flex;
//   align-content: center;
//   justify-content: space-between;
// }

// .interactionbtns span {
//   width: 95px;
//   display: flex;
//   justify-content: space-between;
// }

// .btn-show{
//   display: flex;
//   flex-direction: column;
// }

// .btn-annexe, .btn-publier{
//   display: flex;
//   justify-content: space-around;
//   margin-top: 5%;

//   @at-root .btn-publier {
//     margin-bottom: 5%;

//   }
// }


// path {
//   fill: none;
//   stroke-miterlimit: 10;
//   stroke: #000000;
// }


// @media (max-width: 1024px) {
//   .creation{
//     width: 90%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     margin: 0
//   }

//   .creation-images{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//   }

//   .creation-images img{
//     width: 200px;
//     height: 200px;
//     margin: 1%
//   }

//   .description{
//     margin: 3%
//   }

//   .instagram{
//     margin-left: auto;
//     margin-right: auto;

//   }

//   .view-insta{
//     width: 100%;

//     h4 {
//       font-size: 20px;
//     }
//   }

//   .insta-show {
//     width: 100%;
//   }

//   .icon {
//     width: 30px;
//     height: 30px;
//   }


//   .interactionbtns span {
//     width: 95px;
//   }

//   .textcontent {
//     font-size: 12px;
//   }
// }



// @media  (max-width: 768px) {

//   .show{
//     display:flex;
//     flex-direction: column;
//   }

//   .creation{
//     display:flex;
//     justify-content: center;
//     width: 100%;
//   }

//   .prompt-insta{
//     font-size: 14px;
//   }

//   .creation-images img{
//     width: 150px;
//     height: 150px;
//     margin: 1%
//   }

//   .recreer{
//     width: 100%;
//     margin-top: 2%;
//   }

//   .instagram{
//     margin-top: 5%;
//   }

//   .insta-show {
//     width: 100%;
//   }

//   .view-insta h4 {
//     font-size: 18px;
//   }

//   .icon {
//     width: 25px;
//     height: 25px;
//   }

//   .interactionbtns {
//     padding: 8px 10px;
//   }

//   .interactionbtns span {
//     width: 80%;
//   }

//   .btn-annexe, .btn-publier {
//     display: flex;
//     flex-direction: column;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   .textcontent {
//     font-size: 11px;
//   }

//   .decalage {
//     margin-top: 250px;
//   }
// }

// @media (max-width: 480px) {

//   .show{
//     display:flex;
//     flex-direction: column;
//   }

//   .creation{
//     width: 90%;
//   }

//   .prompt-insta{
//     font-size: 14px;
//   }

//   .creation-images img{
//     width: 50px;
//     height: 50px;
//   }

//   .gpt{
//     width: 100%;
//     margin-top: 2%;
//   }

//   .recreer{
//     width: 100%;
//     margin-top: 2%;
//   }

//   .insta-show img {
//     width: 100%;
//     height: 300px
//   }

//   .view-insta h4 {
//     font-size: 16px;
//     margin-top: 1%
//   }

//   .insta {
//     max-width: 100%;
//   }

//   .insta-show {
//     width: 100%;
//   }

//   .icon {
//     width: 20px;
//     height: 20px;
//   }

//   .interactionbtns {
//     flex-direction: row;
//     align-items: space-between;
//   }

//   .interactionbtns span {
//     width: 100%;
//     justify-content: left;
//   }

//   .btn-annexe, .btn-publier {
//     flex-direction: column;
//     align-items: center;
//   }

//   .textcontent {
//     font-size: 10px;
//   }

//   .decalage {
//     margin-top: 250px;
//   }
// }


.gnration-de-la {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

@media (max-width: 768px){
  .gnration-de-la{
    display: flex;
    flex-direction: column;
  }
}

.frame-show {
  align-items: flex-start;
  gap: 40px;
  padding: 24px 24px 0;
  position: relative;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #dfdfea;
}

@media (max-width: 768px){
  .frame-show{
  padding: 12px
  }
}

.frame-show .div-show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:24px;
  padding: 24px 24px 0;
  position: relative;
  align-self: stretch;
  // width: 50%;
  flex: 0 0 auto;
}

@media (max-width: 768px){
  .frame-show .div-show{
   gap: 12px;
   width: 100%
  }
}

.bouton-images{
display: inline-block;
  position: relative;
  width: 148px;
  height: 148px;
  background-color: var(--secondarywhitewhite-100);
  border-radius: 4px;
  overflow: hidden;
  border: 1px dashed;
  border-color: var(--secondaryblackblack-50);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.creation-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto); /* Ajustez 100px à la hauteur minimale désirée */
  gap: 8px;
}

.generator-image input[type="submit"]{
  display: flex;
  width: 126px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  background-color: var(--secondarywhitewhite-200);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--secondarywhitewhite-300);
  width: fit-content;
  margin-top: -1px;
  font-family: var(--petit-texte-medium-h1-font-family);
  font-weight: var(--petit-texte-medium-h1-font-weight);
  color: var(--secondaryblackblack-300);
  font-size: var(--petit-texte-medium-h1-font-size);
  letter-spacing: var(--petit-texte-medium-h1-letter-spacing);
  line-height: var(--petit-texte-medium-h1-line-height);
  white-space: nowrap;
  font-style: var(--petit-texte-medium-h1-font-style);

}

.generator-image input[type="submit"]:hover{
  color: black

}


.photo-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background-color: #00000066;
  border-radius: 4px;
  overflow: hidden;
}


.image-container {
  position: relative;
  display: inline-block;

}

.image-container input[type="image"]{
  border-radius: 4px;
}


.chargement-images{
  position: relative;
  display: inline-block;

  img{
    width: 150px;
    height:150px;
    justify-items: center;
    animation: rotate 3s normal linear infinite;
  }
}

  @keyframes rotate {
    0% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
      -webkit-transform: rotate3d(0, 0, 1, 90deg);
      transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
      -webkit-transform: rotate3d(0, 0, 1, 180deg);
      transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
      -webkit-transform: rotate3d(0, 0, 1, 270deg);
      transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 360deg);
      transform: rotate3d(0, 0, 1, 360deg);
    }
  }



// .image-container form{
//   display: flex;
//   width: 126px;
//   align-items: center;
//   justify-content: center;
//   padding: 8px;
//   position: relative;
//   flex: 0 0 auto;
//   border-radius: 4px;
//   overflow: hidden;
//   border-color: var(--secondarywhitewhite-300);
//   position: relative;
//   width: 100%;
//   margin-top: -1px;
//   font-family: var(--petit-texte-medium-h1-font-family);
//   font-weight: var(--petit-texte-medium-h1-font-weight);
//   color: var(--secondaryblackblack-300);
//   font-size: var(--petit-texte-medium-h1-font-size);
//   letter-spacing: var(--petit-texte-medium-h1-letter-spacing);
//   line-height: var(--petit-texte-medium-h1-line-height);
//   white-space: nowrap;
//   font-style: var(--petit-texte-medium-h1-font-style);

// }

// .selection-indicator {
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 20px; /* Ajustez selon vos besoins */
//   height: 20px; /* Ajustez selon vos besoins */
//   background-color: rgba(255, 255, 255, 0.7); /* Fond semi-transparent */
//   color: black; /* Couleur du texte */
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 12px; /* Ajustez selon vos besoins */
//   visibility: hidden; /* Caché par défaut */
// }

// .photo.selected + .selection-indicator {
//   visibility: visible; /* Affiche le carré quand l'image est sélectionnée */
// }

.delete-icon {
  position: absolute;
  top: 75px;
  left: 75px;
  display: none;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, visibility 0s linear 0.3s;
}

.delete-icon:hover {
  position: absolute;
  top: 75px;
  left: 75px;
  transform: translate(-50%, -50%) scale(2);
  transition: transform 0.3s ease;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.40);
  backdrop-filter: blur(10px);
}

.image-container:hover .delete-icon {
  display: block;
  visibility: visible;
  opacity: 1;

}


.indice-image{

  top: 10px;
  left: 130px;
  border : 1px solid white;
  border-radius: 20%;
  background-size: 5px;
  background-color: transparent;
  color: white;
  padding: 5px;
  font-size: 10px;
  width: 15px;

}


.indice {
    width: 20px;
    height: 20px;
    top: 15px;
    left:125px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    border-radius: 20%;
    overflow: hidden;
    border-color: var(--secondarywhitewhite-50);
    background: transparent;
    border: 1px solid white;
    font-size: 12px;
    text-align: center;
    border: 1px solid;
    border-color: var(--secondarywhitewhite-50);
    box-shadow: 0px 0px 12px #00000066;
    background: linear-gradient(180deg, rgb(28.77, 147.84, 255) 0%, rgb(255, 0, 244.8) 100%);
    color: white

    form{

    }
  }

  // .image-container input[type="image"]:hover {
  //   opacity: 0.6;

  // }

.notice{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 31px;
  padding: 12px 17px;
  position: relative;
  background-color: var(--systemvertg-100);
  border-radius: 8px 0px 0px 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--systemvertg-75);
  font-family: var(--titre-medium-h4-font-family);
  font-weight: var(--titre-medium-h4-font-weight);
  color: var(--systemvertg-50);
  font-size: var(--titre-medium-h4-font-size);
  letter-spacing: var(--titre-medium-h4-letter-spacing);
  line-height: var(--titre-medium-h4-line-height);
  white-space: nowrap;
  font-style: var(--titre-medium-h4-font-style);

  button{
    border: 0;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    color: var(--systemvertg-50);
  }
}


.frame-bouton {

  position: relative;
  width: 148px;
  height: 148px;
  background-color: var(--secondarywhitewhite-100);
  border-radius: 4px;
  overflow: hidden;
  border: 1px dashed;
  border-color: var(--secondaryblackblack-50);
}

.frame-bouton .div-bouton {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  top: 38px;
  left: 11px;
}

.frame-bouton .secondary-bouton {
  display: flex;
  width: 126px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--secondarywhitewhite-200);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--secondarywhitewhite-300);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--petit-texte-medium-h1-font-family);
  font-weight: var(--petit-texte-medium-h1-font-weight);
  color: var(--secondaryblackblack-300);
  font-size: var(--petit-texte-medium-h1-font-size);
  letter-spacing: var(--petit-texte-medium-h1-letter-spacing);
  line-height: var(--petit-texte-medium-h1-line-height);
  white-space: nowrap;
  font-style: var(--petit-texte-medium-h1-font-style);
}

.file-upload-wrapper-show {
  display: flex;
  width: 126px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  background-color: var(--secondarywhitewhite-200);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--secondarywhitewhite-300);
  width: fit-content;
  margin-top: -1px;
  font-family: var(--petit-texte-medium-h1-font-family);
  font-weight: var(--petit-texte-medium-h1-font-weight);
  color: var(--secondaryblackblack-300);
  font-size: var(--petit-texte-medium-h1-font-size);
  letter-spacing: var(--petit-texte-medium-h1-letter-spacing);
  line-height: var(--petit-texte-medium-h1-line-height);
  white-space: nowrap;
  font-style: var(--petit-texte-medium-h1-font-style);

}

.file-upload-wrapper-show:hover {
  color:  #FD972C;
}

.file-upload-wrapper-show input[type="file"] {
  display: none;
}


.div-show .box-show {
  width: 584px;
  height: 1px;
  position: fixed;
  width: 584px;
  height: 1px;
  object-fit: cover;
}

.frame-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
}

@media (max-width: 768px){
  .frame-description{
  width: 100%
  }
}

.textcontent {
  padding: 10px 12px;
  font-size: 12px;
  margin-bottom: 18px;
  text-align: left;
}

.text-wrapper-show{
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--titre-medium-h5-font-family);
  font-weight: var(--titre-medium-h5-font-weight);
  color: var(--secondaryblackblack-200);
  font-size: var(--titre-medium-h5-font-size);
  letter-spacing: var(--titre-medium-h5-letter-spacing);
  line-height: var(--titre-medium-h5-line-height);
  white-space: nowrap;
  font-style: var(--titre-medium-h5-font-style);
}

.description-de-post {
  display: flex;
  flex-direction: column;
  width: 616px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 24px;
  padding: 24px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--secondaryblackblack-50);
}

@media (max-width: 768px) {
  .description-de-post {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 12px;
    padding: 12px;
    position: relative;
    background-color: var(--secondarywhitewhite-100);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--secondaryblackblack-50);
  }

}

.gpt-creation{
   position: relative;
   align-self: stretch;
   margin-top: -1px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-end;
   gap: 24px;
   overflow: hidden;
   border: 0;

   turbo-frame{
    width: 100%;
    font-family: var(--titre-regular-h4-font-family);
    font-weight: var(--titre-regular-h4-font-weight);
    color: var(--secondaryblackblack-500);
    font-size: var(--titre-regular-h4-font-size);
    letter-spacing: var(--titre-regular-h4-letter-spacing);
    line-height: var(--titre-regular-h4-line-height);
    font-style: var(--titre-regular-h4-font-style);
   }
  }

  .edit_gpt_creation{
   position: relative;
   align-self: stretch;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-end;
   gap: 24px;
   overflow: hidden;



   textarea{
    width: 100%;
    height: 150px;
    resize: none;
    gap: 10px;
    padding: 12px;
    position: relative;
    border-radius: 8px;
    border: 1px solid;
    border-color: #e6e6e6;
    font-family: var(--titre-regular-h4-font-family);
    font-weight: var(--titre-regular-h4-font-weight);
    color: var(--secondaryblackblack-500);
    font-size: var(--titre-regular-h4-font-size);
    letter-spacing: var(--titre-regular-h4-letter-spacing);
    line-height: var(--titre-regular-h4-line-height);
    font-style: var(--titre-regular-h4-font-style);
   }

  }

  .gpt-edit-bouton{
    display: flex;
    flex-direction: row;
    gap:24px
  }

  .gpt-edit-bouton .secondary-bouton-annuler{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--secondarywhitewhite-200);
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--secondaryblackblack-50);
    position: relative;
    width: fit-content;
    font-family: var(--titre-medium-h5-font-family);
    font-weight: var(--titre-medium-h5-font-weight);
    color: var(--secondaryblackblack-300);
    font-size: var(--titre-medium-h5-font-size);
    letter-spacing: var(--titre-medium-h5-letter-spacing);
    line-height: var(--titre-medium-h5-line-height);
    white-space: nowrap;
    font-style: var(--titre-medium-h5-font-style);
  }

  .gpt-edit-bouton .secondary-bouton-modifier{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--secondarywhitewhite-200);
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--secondaryblackblack-50);
    position: relative;
    width: fit-content;
    font-family: var(--titre-medium-h5-font-family);
    font-weight: var(--titre-medium-h5-font-weight);
    color: var(--secondaryblackblack-300);
    font-size: var(--titre-medium-h5-font-size);
    letter-spacing: var(--titre-medium-h5-letter-spacing);
    line-height: var(--titre-medium-h5-line-height);
    white-space: nowrap;
    font-style: var(--titre-medium-h5-font-style);
  }



  .gpt-edit-bouton .secondary-bouton-annuler:hover{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    position: relative;
    background-color: var(--secondarywhitewhite-300);
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--secondaryblackblack-50);
  }

  .gpt-edit-bouton .secondary-bouton-modifier:hover{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    position: relative;
    background-color: var(--secondarywhitewhite-200);
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--secondaryblackblack-50);
  }

.frame-description .div-description {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.frame-description .secondary-bouton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--secondarywhitewhite-200);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--secondaryblackblack-50);
  position: relative;
  width: fit-content;
  font-family: var(--titre-medium-h5-font-family);
  font-weight: var(--titre-medium-h5-font-weight);
  color: var(--secondaryblackblack-300);
  font-size: var(--titre-medium-h5-font-size);
  letter-spacing: var(--titre-medium-h5-letter-spacing);
  line-height: var(--titre-medium-h5-line-height);
  white-space: nowrap;
  font-style: var(--titre-medium-h5-font-style);
}

.frame-description .secondary-bouton:hover{
  color: blue

}

.container-boutons {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 24px;
  padding-top: 24px;

  form{
    border: 1px solid transparent
  }
}

.insta {
  overflow-x: hidden;
  max-width: 350px;
}

.topbar {
  padding: 12px;
  display: flex;
  align-content: center;
  justify-content: space-between;

  b {
    font-size: 12px;
  }
}

.insta-show {
  width: 350px;
  justify-content:center;
}


.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.crop {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: 50% 50%;

}

.frame-instagram {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--titre-medium-h5-font-family);
  font-weight: var(--titre-medium-h5-font-weight);
  color: var(--secondaryblackblack-500);
  font-size: var(--titre-medium-h5-font-size);
  letter-spacing: var(--titre-medium-h5-letter-spacing);
  line-height: var(--titre-medium-h5-line-height);
  white-space: nowrap;
  font-style: var(--titre-medium-h5-font-style);
}

.icons-instagram {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding: 20px;

}

.icons-instagram .frame-icon {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;

  img{
    position: relative;
    width: 16px;
    height: 16px;
  }
}


.frame-bouton-insta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 4px;
  padding: 20px;
  position: relative;
  border-top-width: 1px;
  border-color: var(--secondaryblackblack-50);
}


.frame-bouton-insta .div-2-insta {
  display: inline-flex;
  gap: 8px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.frame-bouton-insta .secondary-bouton-wrapper {
  display: inline-flex;
  gap: 12px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.frame-bouton-insta .secondary-bouton {
  position: relative;
  flex: 0 0 auto;
}

.frame-bouton-insta .main-bouton {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.26);
  background:linear-gradient(99deg, #233DFF 0.82%, #E17AFF 38.59%, #FD972C 95.25%);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--titre-medium-h5-font-family);
  font-weight: var(--titre-medium-h5-font-weight);
  color: #ffffff;
  font-size: var(--titre-medium-h5-font-size);
  letter-spacing: var(--titre-medium-h5-letter-spacing);
  line-height: var(--titre-medium-h5-line-height);
  white-space: nowrap;
  font-style: var(--titre-medium-h5-font-style);
}

.view-insta{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 20px;
  gap: 4px;
  overflow: hidden;
  position: relative;
  width: 50%;
}

.bg {
  position: absolute;
  width: 1480px;
  height: 1566px;
  top: -292px;
  left: -448px;
}

.overlap-group-2 {
  position: relative;
  height: 1566px;
}


.ellipse-show{
  position: absolute;
  width: 615px;
  height: 735px;
  top: 649px;
  left: 865px;
  border-radius: 307.5px/367.5px;
  filter: blur(166.3px);
  background: linear-gradient(180deg, rgba(144, 98, 255, 0) 0%, rgb(245.58, 241.67, 255) 43.01%);
}

.ellipse-2-show{
  position: absolute;
  width: 859px;
  height: 929px;
  top: 0;
  left: 212px;
  border-radius: 429.5px/464.5px;
  filter: blur(166.3px);
  background: linear-gradient(180deg, rgba(241.76, 64.91, 171.02, 0) 0%, rgb(255, 229.49, 243.27) 44.42%);
  opacity: 0.4;
}

.ellipse-3-show {
  position: absolute;
  width: 859px;
  height: 929px;
  top: 637px;
  left: 0;
  border-radius: 429.5px/464.5px;
  filter: blur(166.3px);
  background: linear-gradient(180deg, rgba(229.49, 242.92, 255, 0.73) 52.93%, rgba(229.49, 242.92, 255, 0) 95.2%);
}

@media (max-width: 768px){
  .view-insta{
  width: 100%;
  padding: 12px
  }
}

.view-insta-boutons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.connexion-insta{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}


.loading-spinner {
  border: 4px solid rgba(0, 0, 0, .1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-left-color: grey;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chargement{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--secondarywhitewhite-200);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--secondaryblackblack-50);
  position: relative;
  width: fit-content;
  margin-top: -1px;
}

.text-chargement{
  display: flex;
  width: 126px;
  align-items: center;
  justify-content: center;
  font-family: var(--titre-medium-h5-font-family);
  font-weight: var(--titre-medium-h5-font-weight);
  color: var(--secondaryblackblack-300);
  font-size: var(--titre-medium-h5-font-size);
  letter-spacing: var(--titre-medium-h5-letter-spacing);
  line-height: var(--titre-medium-h5-line-height);
  white-space: nowrap;
  font-style: var(--titre-medium-h5-font-style);
}
