// #footer{
//   display: flex;
//   height: 10vh;
//   background: linear-gradient(180deg, rgba(229.49, 242.92, 255, 0) 0%, rgb(229.49, 242.92, 255) 44.42%);
//   border-color: var(--secondarywhitewhite-400);
//   position: static;
//   bottom: 0;
//   z-index:11;
//   width: 100%;
//   transition: margin-left 0.3s, width 0.3s;
// }

.mentions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  a{
    font-family: var(--titre-regular-h4-font-family);
  font-weight: var(--titre-regular-h4-font-weight);
  color: #000000;
  font-size: var(--titre-regular-h4-font-size);
  letter-spacing: var(--titre-regular-h4-letter-spacing);
  line-height: var(--titre-regular-h4-line-height);
  white-space: nowrap;
  font-style: var(--titre-regular-h4-font-style);
  }
}

.main-logo-footer {
display: flex;
justify-content: center;
align-items: center;
width: 50%;
  img {
  height: 10vh;
  }

}


@media (max-width: 768px) {
.mentions {
  a{
    font-size: 14px;
  }
}

  .main-logo-footer{
    img{
      height: 7vh
    }
  }

}

@media (max-width: 480px) {
  .main-logo-footer{
    img{
      height: 2vh
    }

  }

}
