#footer{
  display: flex;
  height: 10vh;
  background: linear-gradient(180deg, rgba(229.49, 242.92, 255, 0) 0%, rgb(229.49, 242.92, 255) 44.42%);
  border-color: var(--secondarywhitewhite-400);
  position: static;
  bottom: 0;
  z-index:11;
  width: 100%;
  transition: margin-left 0.3s, width 0.3s;
}

.mentions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  a{
    font-family: 'glacial-indifference';
    font-size: 14px;
    color: black
  }
}

.main-logo-footer {
display: flex;
justify-content: center;
align-items: center;
width: 50%;
  img {
  height: 5vh;
  }

}


@media (max-width: 768px) {
.mentions {
  a{
    font-size: 14px;
  }
}

  .main-logo-footer{
    img{
      height: 3vh
    }
  }

}

@media (max-width: 480px) {
  .main-logo-footer{
    img{
      height: 2vh
    }

  }

}
