nav {
  display:flex;
  height: 15vh;
  position: sticky;
  top: 0;
  z-index:1000;
  background: #A5F3AD;
  margin-bottom: 1em;
}

#navigation {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  height:85vh;
  font-size: 1em;
  transform-origin: left;  // Échelle horizontale réduite à 0
  transition: transform 0.5s ease-out;

}

  section {
    width:33%;
  }


.menu {
  width: 30%;
  cursor: pointer;
  font-size: 4em;
  margin-left: 1%;
 }

 .sub-menus {
  display: none;
  position: relative;
  z-index: 99;
  width: 50%;
  list-style: none;
  padding: revert;
  background-color: #A5F3AD;

  li {
    display: block;
    margin-top: 12%;
    font-weight: bold;
  }

  a{
    text-decoration: none;
    color: black;
  }

  a:hover{
    color:#FDAEEE;
  }

}

ul li:last-child{
  margin-bottom: 20%;
}

#menu-toggle:checked + .menu + .sub-menus {
  display: flex;
  flex-direction: column;
}


#main-logo{
  display: flex;
  justify-content:right;
  align-items: center;
  img{
    height: 60px;
  }
  h3{
    font-size: 14px;
    margin-left: 5em
  }
  a{
    text-decoration: none;
    color: black;
  }
}

@media (max-width: 768px) {
  /* Adaptations pour les tablettes et les mobiles */
  nav {
    height: auto;

  }

  #navigation, .menu, .sub-menus {
    width: 100%;
    font-size: 0.8em;
    height: 5vh;
  }

  section {
    width: 100%;
  }

  .sub-menus{
    background-color: #A5F3AD;
  }

  #main-logo h3 {
    font-size: 12px;
    margin-left: 2em;
  }

  .menu {
    font-size: 3em; /* Taille plus petite pour les appareils mobiles */
  }
}

@media (max-width: 480px) {

  /* Adaptations spécifiques pour les mobiles */
  .menu {
    font-size: 2em; /* Encore plus petit pour les écrans très petits */
  }

  #main-logo img {
    height: 40px; /* Taille d'image plus petite */
  }

  #main-logo h3 {
    font-size: 10px; /* Taille de police plus petite */
  }
}
