nav {
  display:flex;
  height: 15vh;
  position: sticky;
  top: 0;
  z-index:1000;
  background: #A5F3AD;
  margin-bottom: 1em;

  section {
    width:33%;

  @media (max-width: 768px) {
    width: 50%
  }
  }

  @media (max-width: 768px) {
  display: flex;
  height: auto;
  }

}
#navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 768px) {
    width: 30%;
  }
}

#menu-button {
  font-size: 2em;
  margin-left: 1em;

  &:hover {
    cursor:pointer;
  }

  @media (max-width: 768px) {
    margin-left: 0.5em;
    font-size: 2em;
  }
}

#menu {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  position:absolute;
  top:15vh;
  right: 0;
  height:85vh;
  font-size: 1em;
  transform-origin: left;
  transform: translateX(100%);     // Échelle horizontale réduite à 0
  transition: transform 0.5s ease-out;

  @media (max-width: 768px) {
    top: 100%;
    height: auto;
  }

  div {
    padding: 1em;
  }
}

#menu.toggle {
  transform: translateX(0);
  transition: transform 0.5s ease-out;
}

.overflow-hidden {
  overflow: hidden;
}


#main-logo{
  display: flex;
  justify-content:right;
  align-items: center;
  img{
    height: 60px;
  }
  h3{
    font-size: 14px;
    margin-left: 5em
  }
  a{
    text-decoration: none;
    color: black;
  }

  @media (max-width: 768px) {
    justify-content: center;
    img {
      height: 60px;
      margin-top: 4%;
    }
    h3 {
      font-size: 14px;

    }
  }
}

// #main-title {
//   display: flex;
//   justify-content: left;
//   align-items: center;
//   text-align: center;
//   font-size: 1em;


// }
