@import "font-awesome";
@import 'components/index';

@import 'colors';
@import 'navbar';
@import 'bootstrap';


 @font-face {
  font-family: 'brasika-display';
  src: url('brasika-display.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'glacial-indifference';
  src: url('GlacialIndifference-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'glacial-indifference';
  src: url('GlacialIndifference-Bold.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}


body {
  font-family: 'glaciale-indifference', sans-serif;
}
h1, h2, h3{
  font-family: 'brasika-display', 'Inter', 'Arial', 'Helvetica', sans-serif;
  text-align: center;
  margin: 1rem ;
}
h1{
  font-size: 58px;
}

h3{
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

p{
  margin-bottom: 0;
}


* {
  margin: 0;
}

a {
  text-decoration: none;
  color:inherit;
}
