@import "font-awesome";
@import 'components/index';

@import 'colors';
@import 'navbar';
@import 'bootstrap';


@font-face {
  font-family: 'glacial-indifference';
  src: url('GlacialIndifference-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'glacial-indifference';
  src: url('GlacialIndifference-Bold.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

html, body {
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: calc(100vh -10vh);
  font-family: 'glaciale-indifference', sans-serif;

}

body.sub-menus-open .content {
  width: calc(100% - 220px);
    margin-left: 220px;

    @media (max-width: 1920px){
      width: calc(100% - 250px);
    margin-left: 250px;
    }

    .creation-images{
      @media (max-width: 1920px){
        justify-content: center;
      }

      @media (max-width: 1024px){
        justify-content: center;
      }
    }

    .show{
      @media (max-width: 1024px){
        display: flex;
        flex-direction: column;

      }

    }

    .description{
      @media (max-width: 1915px){
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }

      @media (max-width: 1024px){
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }
    }

    @media (max-width: 1915px){
      width: calc(100% - 250px);
      margin-left: 260px;
    }

    @media (max-width: 1024px){
      width: calc(100% - 250px);
      margin-left: 290px;
    }

}


.sub-menus-open footer {
  transform: translateY(100vh); /* Vous pouvez ajuster la valeur en fonction de la hauteur de votre menu */
  transition: transform 0.3s ease;
}


h1, h2, h3{
  font-family: 'Times New Roman', Times, sans-serif;
  text-align: center;
  margin: 1rem ;
}
h1{
  font-size: 50px;

  @media (max-width: 768px){
    font-size: 35px;
  }

  @media (max-width: 480px){
    font-size: 35px;
  }
}

h3{
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

p{
  margin-bottom: 0;
}


* {
  margin: 0;
}

a {
  text-decoration: none;
  color:inherit;
}

.content {
  flex: 1;
  position: relative;
  margin-top: 10vh;
  z-index: 600;
  margin-left: 0;
  width: 100%;
  transition: margin-left 0.3s, width 0.3s;
}

// @media (max-width: 768px) {

//   body.menu-open .content {
//     width: 100%;
//     margin-left: 0;
//   }

//   h1 {
//     font-size: 30px;
//   }

//   h3 {
//     font-size: 16px;
//   }

//   .content{
//     position: relative;
//     z-index: 400
//   }

// }


// @media (max-width: 480px) {

//   body.menu-open .content {
//     width: 100%;
//     margin-left: 0;
//   }

//   h1 {
//     font-size: 20px;
//   }

//   h3 {
//     font-size: 14px;

//   }
// }
