@import "font-awesome";
@import 'components/index';

@import 'colors';
@import 'navbar';
@import 'bootstrap';


// @font-face {
//   font-family: 'glacial-indifference';
//   src: url('GlacialIndifference-Regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'glacial-indifference';
//   src: url('GlacialIndifference-Bold.woff') format('woff');
//   font-weight: normal;
//   font-style: italic;
// }



html, body {
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: calc(100vh -10vh);
  font-family: 'glaciale-indifference', sans-serif;

}

// body.sub-menus-open .content {
//   width: calc(100% - 200px);

//     @media (max-width: 1920px){
//     width: calc(100% - 250px);
//     }

//     .creation-images{
//       @media (max-width: 1920px){
//         justify-content: center;
//       }

//       @media (max-width: 1024px){
//         justify-content: center;
//       }
//     }

//     .show{
//       @media (max-width: 1024px){
//         display: flex;
//         flex-direction: column;

//       }

//     }

//     .description{
//       @media (max-width: 1915px){
//         margin-left: auto;
//         margin-right: auto;
//         width: 80%;
//       }

//       @media (max-width: 1024px){
//         margin-left: auto;
//         margin-right: auto;
//         width: 80%;
//       }
//     }

//     @media (max-width: 1915px){
//       width: calc(100% - 250px);
//       margin-left: 260px;
//     }

//     @media (max-width: 1024px){
//       width: calc(100% - 250px);
//       margin-left: 290px;
//     }


//     .draft{
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     flex: 1;

//     @media (max-width: 1024px){
//       width: 80%;
//     }
//     }


//     .btn-draft{
//       @media (max-width: 1024px){
//         width: 100%;
//       }

//     }

// }


// .sub-menus-open footer {
//   transform: translateY(100vh); /* Vous pouvez ajuster la valeur en fonction de la hauteur de votre menu */
//   transition: transform 0.3s ease;
// }

// h1{
// color: var(--Secondary-Black-black-500, #000);
// /* Titre/Medium/32 */
// font-family: Inter;
// font-size: 32px;
// font-style: normal;
// font-weight: 500;
// line-height: 36px; /* 112.5% */
// }

// p{
// color: var(--Secondary-Black-black-200, #8A8A8A);
// /* Titre/Regular/h4 */
// font-family: Inter;
// font-size: 16px;
// font-style: normal;
// font-weight: 400;
// line-height: 20px; /* 125% */
// }

// h2, h3{
//   font-family: 'Times New Roman', Times, sans-serif;
//   text-align: center;
//   margin: 1rem ;
// }
// h1{
//   font-size: 50px;

//   @media (max-width: 768px){
//     font-size: 35px;
//   }

//   @media (max-width: 480px){
//     font-size: 35px;
//   }
// }

// h3{
//   font-size: 18px;
// }

html {
  scroll-behavior: smooth;
}

// p{
//   margin-bottom: 0;
// }


// * {
//   margin: 0;
// }

a {
  text-decoration: none;
  color:inherit;
}

// .content {
//   flex: 1;
//   position: relative;
//   margin-top: 10vh;
//   z-index: 600;
//   margin-left: 0;
//   width: 100%;
//   transition: margin-left 0.3s, width 0.3s;
// }

// @media (max-width: 768px) {

//   body.menu-open .content {
//     width: 100%;
//     margin-left: 0;
//   }

//   h1 {
//     font-size: 30px;
//   }

//   h3 {
//     font-size: 16px;
//   }

//   .content{
//     position: relative;
//     z-index: 400
//   }

// }


// @media (max-width: 480px) {

//   body.menu-open .content {
//     width: 100%;
//     margin-left: 0;
//   }

//   h1 {
//     font-size: 20px;
//   }

//   h3 {
//     font-size: 14px;

//   }
// }


:root {
  --secondaryblackblack-50: rgba(230, 230, 230, 1);
  --secondaryblackblack-100: rgba(176, 176, 176, 1);
  --secondaryblackblack-200: rgba(138, 138, 138, 1);
  --secondaryblackblack-300: rgba(84, 84, 84, 1);
  --secondaryblackblack-400: rgba(51, 51, 51, 1);
  --secondaryblackblack-500: rgba(0, 0, 0, 1);
  --secondarywhitewhite-50: rgba(255, 255, 255, 1);
  --secondarywhitewhite-100: rgba(252, 252, 252, 1);
  --secondarywhitewhite-200: rgba(245, 245, 245, 1);
  --secondarywhitewhite-300: rgba(240, 240, 240, 1);
  --secondarywhitewhite-400: rgba(217, 217, 217, 1);
  --systemvertg-50: rgba(0, 187, 0, 1);
  --systemvertg-75: rgba(152, 204, 152, 1);
  --systemvertg-100: rgba(222, 255, 222, 1);
  --systemrougeg-50: rgba(255, 86, 86, 1);
  --systemrougeg-75: rgba(255, 179, 179, 1);
  --systemrougeg-100: rgba(255, 224, 224, 1);
  --systemorangeg-50: rgba(255, 192, 29, 1);
  --systemorangeg-75: rgba(255, 228, 159, 1);
  --systemorangeg-100: rgba(255, 244, 216, 1);
  --titre-medium-32-font-family: "Inter", Helvetica;
  --titre-medium-32-font-weight: 500;
  --titre-medium-32-font-size: 32px;
  --titre-medium-32-letter-spacing: 0px;
  --titre-medium-32-line-height: 36px;
  --titre-medium-32-font-style: normal;
  --titre-medium-h1-font-family: "Inter", Helvetica;
  --titre-medium-h1-font-weight: 500;
  --titre-medium-h1-font-size: 29px;
  --titre-medium-h1-letter-spacing: 0px;
  --titre-medium-h1-line-height: 36px;
  --titre-medium-h1-font-style: normal;
  --titre-medium-h2-font-family: "Inter", Helvetica;
  --titre-medium-h2-font-weight: 500;
  --titre-medium-h2-font-size: 23px;
  --titre-medium-h2-letter-spacing: 0px;
  --titre-medium-h2-line-height: 28px;
  --titre-medium-h2-font-style: normal;
  --titre-medium-h3-font-family: "Inter", Helvetica;
  --titre-medium-h3-font-weight: 500;
  --titre-medium-h3-font-size: 18px;
  --titre-medium-h3-letter-spacing: 0px;
  --titre-medium-h3-line-height: 24px;
  --titre-medium-h3-font-style: normal;
  --titre-medium-h4-font-family: "Inter", Helvetica;
  --titre-medium-h4-font-weight: 500;
  --titre-medium-h4-font-size: 16px;
  --titre-medium-h4-letter-spacing: 0px;
  --titre-medium-h4-line-height: 20px;
  --titre-medium-h4-font-style: normal;
  --titre-medium-h5-font-family: "Inter", Helvetica;
  --titre-medium-h5-font-weight: 500;
  --titre-medium-h5-font-size: 14px;
  --titre-medium-h5-letter-spacing: 0px;
  --titre-medium-h5-line-height: 16px;
  --titre-medium-h5-font-style: normal;
  --titre-medium-h6-font-family: "Inter", Helvetica;
  --titre-medium-h6-font-weight: 500;
  --titre-medium-h6-font-size: 13px;
  --titre-medium-h6-letter-spacing: 0px;
  --titre-medium-h6-line-height: 16px;
  --titre-medium-h6-font-style: normal;
  --titre-regular-32-font-family: "Inter", Helvetica;
  --titre-regular-32-font-weight: 400;
  --titre-regular-32-font-size: 32px;
  --titre-regular-32-letter-spacing: 0px;
  --titre-regular-32-line-height: 36px;
  --titre-regular-32-font-style: normal;
  --titre-regular-h1-font-family: "Inter", Helvetica;
  --titre-regular-h1-font-weight: 400;
  --titre-regular-h1-font-size: 29px;
  --titre-regular-h1-letter-spacing: 0px;
  --titre-regular-h1-line-height: 36px;
  --titre-regular-h1-font-style: normal;
  --titre-regular-h2-font-family: "Inter", Helvetica;
  --titre-regular-h2-font-weight: 400;
  --titre-regular-h2-font-size: 23px;
  --titre-regular-h2-letter-spacing: 0px;
  --titre-regular-h2-line-height: 28px;
  --titre-regular-h2-font-style: normal;
  --titre-regular-h3-font-family: "Inter", Helvetica;
  --titre-regular-h3-font-weight: 400;
  --titre-regular-h3-font-size: 18px;
  --titre-regular-h3-letter-spacing: 0px;
  --titre-regular-h3-line-height: 24px;
  --titre-regular-h3-font-style: normal;
  --titre-regular-h4-font-family: "Inter", Helvetica;
  --titre-regular-h4-font-weight: 400;
  --titre-regular-h4-font-size: 16px;
  --titre-regular-h4-letter-spacing: 0px;
  --titre-regular-h4-line-height: 20px;
  --titre-regular-h4-font-style: normal;
  --titre-regular-h5-font-family: "Inter", Helvetica;
  --titre-regular-h5-font-weight: 400;
  --titre-regular-h5-font-size: 14px;
  --titre-regular-h5-letter-spacing: 0px;
  --titre-regular-h5-line-height: 16px;
  --titre-regular-h5-font-style: normal;
  --titre-regular-h6-font-family: "Inter", Helvetica;
  --titre-regular-h6-font-weight: 400;
  --titre-regular-h6-font-size: 13px;
  --titre-regular-h6-letter-spacing: 0px;
  --titre-regular-h6-line-height: 16px;
  --titre-regular-h6-font-style: normal;
  --petit-texte-regular-h1-font-family: "Inter", Helvetica;
  --petit-texte-regular-h1-font-weight: 400;
  --petit-texte-regular-h1-font-size: 12px;
  --petit-texte-regular-h1-letter-spacing: 0px;
  --petit-texte-regular-h1-line-height: 16px;
  --petit-texte-regular-h1-font-style: normal;
  --petit-texte-regular-h2-font-family: "Inter", Helvetica;
  --petit-texte-regular-h2-font-weight: 400;
  --petit-texte-regular-h2-font-size: 10px;
  --petit-texte-regular-h2-letter-spacing: 0px;
  --petit-texte-regular-h2-line-height: 12px;
  --petit-texte-regular-h2-font-style: normal;
  --petit-texte-medium-h1-font-family: "Inter", Helvetica;
  --petit-texte-medium-h1-font-weight: 500;
  --petit-texte-medium-h1-font-size: 12px;
  --petit-texte-medium-h1-letter-spacing: 0px;
  --petit-texte-medium-h1-line-height: 16px;
  --petit-texte-medium-h1-font-style: normal;
  --petit-texte-medium-h2-font-family: "Inter", Helvetica;
  --petit-texte-medium-h2-font-weight: 500;
  --petit-texte-medium-h2-font-size: 10px;
  --petit-texte-medium-h2-letter-spacing: 0px;
  --petit-texte-medium-h2-line-height: 12px;
  --petit-texte-medium-h2-font-style: normal;
}

.layout {
  display: flex;
}

.navbar {
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #ffffff33;
  // background: linear-gradient(to bottom, #FD972C 0%, #FFFFFF 100%);
}

@media (max-width: 768px){
  .navbar{
    display: none;
  }
}

// .content {
//   margin-left: 250px;
//   flex-grow: 1;
//   background: linear-gradient(to bottom, rgba(253, 151, 44, 0.6) 0%, rgba(255, 255, 255, 0.8) 100%);


//   filter: blur(166.3px),
//           blur(166.3px),
//           blur(166.3px);
// }

// @media (max-width: 768px){
//   .content{
//     margin: 0
//   }
// }

.content {
  /* Styles par défaut quand la navbar et le footer ne sont pas présents */
  margin-left: 0;
  margin-top: 0;
  flex-grow: 1;
  display:flex;
  flex-direction: column;
}

.user-logged-in .content {
  margin-left: 250px;
  // margin-bottom: 50px;
  // box-shadow: 0px 4px 4px #00000040;
}

.ellipse {
  width: 1225px;
  height: 1324px;
  top: 0;
  left: 302px;
  border-radius: 612.5px/662px;
  background: linear-gradient(180deg, rgba(253, 151, 44, 0) 0%, rgba(255, 162.72, 133.58, 0.25) 43.5%);
  opacity: 0.4;
  position: fixed;
  filter: blur(166.3px);
}

.ellipse-3 {
  width: 877px;
  height: 1048px;
  top: 300px;
  left: 1233px;
  border-radius: 438.5px/524px;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(246.77, 218.51, 255, 0.57) 43.01%);
  position: fixed;
  filter: blur(166.3px);
}

.ellipse-2 {
  width: 1225px;
  height: 1324px;
  top: 250px;
  left: 250px;
  border-radius: 612.5px/662px;
  background: linear-gradient(180deg, rgba(229.49, 242.92, 255, 0) 0%, rgb(229.49, 242.92, 255) 44.42%);
  position: fixed;
  filter: blur(166.3px);
}

@media (max-width: 768px){
  .user-logged-in .content{
  margin-left: 0;
  }
}


.footer{
  display: flex;
  margin-left: 250px;
  // flex-grow: 1;
  height: 10vh;
  // background: linear-gradient(to bottom, #FD972C 0%, #FFFFFF 100%), rgba(255, 255, 255, 0.2);
  border-color: var(--secondarywhitewhite-400);
  position: static;
  bottom: 0;
  z-index:11;
  transition: margin-left 0.3s, width 0.3s;
}

@media (max-width: 768px){
  .footer{
    margin-left: 0;

  }
}
