<p>Bonjour <%= @email %>!</p>

<p>Pour valider votre inscription sur EazIA vous devez confirmer votre email</p>

<p><%= link_to 'Confirmer mon inscription', confirmation_url(@resource, confirmation_token: @token) %></p>
