<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un vient de demander une réinitialisation de mot de passe pour votre compte. Si vous êtes à l'origine de cette requête, veuillez cliquer sur le lien ci-dessous pour le mettre à jour.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Sinon, veuillez ignorer ce message ; aucun changement ne sera effectué sur votre compte.</p>
<p>A très bientôt sur EazIA </p>
