<% if flash[:notice] %>
  <div class="notice" data-controller="flash" id="notice">
    <%= flash[:notice] %>
     <button data-action="flash#close">X</button>
  </div>
<% elsif flash[:alert] %>
  <div class="alert" data-controller="flash" id="alert">
    <%= flash[:alert] %>
     <button data-action="flash#close">X</button>
  </div>
<% end %>

<%# render layouts/flashes %>
<%# pour afficher notif et alerts, enlever class, placer css dans l'id pour DRY %>
